<h1>Pirate</h1>
<div class="pirate">
<h2>Name: <%= @pirate.name %></h2><br>
<h3>Weight: <%= @pirate.weight %></h3>
<h4>Height: <%= @pirate.height %></h4>
</div><br>

<% @ships.each do |ship|%>
    <div>
      <h2>Ship Name: <%= ship.name %> </h2>
      <h3>Type: <%= ship.type %> </h3>
      <h3>Booty Details: <%= ship.booty%> </h3>
    </div><br>
    <% end%>